<%= link_to notification.resource, class: "notification", data: { turbo_frame: "_top" } do %>
  <div class="avatar txt-small">
    <%= avatar_image_tag(notification.creator) %>
  </div>

  <%= notification.body %>
<% end %>
