<% bucket_view ||= Bucket::View.new %>

<%= bucket_view_form bucket_views_path(bucket), method: :post, id: dom_id(bucket_view, :new_form) %>

<%= button_tag type: :submit, form: dom_id(bucket_view, :new_form), class: "btn", style: "font-size: 0.4em;" do %>
  <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
  <span class="txt-small">New</span>
<% end %>
